.pomodoroTimer {
  .pomArc,
  .breakArc {
    stroke-width: 8px;
    fill: none;
  }

  .progressArc {
    fill: none;
    stroke-width: 2px;
  }

  .pomodoroClock {
    cursor: pointer;
    background-image: url("/img/pomodoro/pomodoro.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;

    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
  }

  .numSlider {
    margin-left: 5% !important;
    width: 71% !important;
    position: relative !important;
    display: inline-block !important;
    vertical-align: middle !important;
  }

  .quantity {
    margin-bottom: 10px !important;
    display: inline-block !important;
    width: 17% !important;
  }

  #input {
    text-align: center;
  }

  .pomodoroInstructions {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 18px;
  }
}

.modalContent-noButtons {
  padding: 0 5%;
}

.pomodoroBackground {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/img/pomodoro.png');
  //background-image: url('/img/background/question-mark-1481601.jpg');
}

.pomodoroHighlight {
  font-weight: bold;
}


#pomodoroTimerNormalContainer {
  height: 150px;
  width: 150px;

  position: absolute;
  left: 25px;
  bottom: $size_navbar_height * 1.75 !important;
  @media (max-width: 767px) {
    height: 0;
    width: 0;
  }
  @media (max-width: 768px) {
    left: 3vw;
  }
  @media (min-width: 950px) {
    height: 200px;
    width: 200px;
  }
  text-align: center;
  .pomodoroTimer {
    margin: auto;
  }
  label {
    font-size: $font_size_wordcloud_and_pomodoro_label !important;
    position: relative;
    margin: 0;
    bottom: 25px;
  }
}

//welcome page

#pomodoroTimerWordcloudContainer {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
  text-align: center;
  .pomodoroTimer {
    margin: auto;
  }
  @media (max-width: 823px) and (max-height: 414px) and (orientation: landscape) {
    display: none !important;
  }
}

.pomodoroInstructions {
  @media (max-height: 520px) {
    display: none;
  }
  @media (min-width: 702px) and (max-height: 700px) {
    @media (min-width: 1200px) and (max-height: 700px) {
      display: none;
    }
  }
}

// setting pomodoro in focus on start
#pomodoroTimerOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 3000;
  display: none;
  overflow: hidden;
  .svg-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .pomodoroTimer {
    height: 100% !important;
    width: 100% !important;
  }

  .pomodoroTimer, .pomodoroClock {
    margin: 0 auto !important;
    display: block !important;
  }
  @media (orientation:portrait) {
    .pomodoroClock {
      height: 100% !important;
      width: 100% !important;
    }
  }
  @media (orientation:landscape) {
    .pomodoroClock {
      height: 100% !important;
    }
  }
}

#pomodoroTimerOverlay .pomodoroTimer .pomodoroInstructions {
  display: none !important;
}

#cancelPomodoroBtn {
  float: left;
}

a, a:hover, a:focus  {
  color: #178FFF;
}
