<template name="cardsImpressumAboutHeadingEN">
    <b><h1>The alternative learning platform</h1></b>
</template>

<template name="cardsImpressumAboutContentEN">
    <p>
        🍅cards is designed for <b>writing and learning by means of cards</b> in the courses of study of
        the
        technical support
        University of Applied Sciences Mittelhessen, THM.
        The <a href="https://git.thm.de/arsnova/flashcards/blob/master/README.md"
               target="_blank">Open-Source-Projekt</a>
        was created in the
        <a href="https://www.thm.de/site/hochschule/service/ag-qls.html" target="_blank">
            consortium
            Quality in teaching and study (AG QLS)</a>
        concept. Development and operation are supported by <a
            href="https://www.thm.de/zqe/unsere-aufgaben/qsl-mittel.html" target="_blank">QSL funds of the
        THM</a> funded.
    </p>
    <p>
        🍅cards is not a traditional flashcard app like <a href="https://quizlet.com/" target="_blank">Quizlet</a>
        or
        <a href="https://www.supermemo.com/" target="_blank">SuperMemo</a>.
        🍅cards not only supports learning with digital flashcards, but also the
        notes
        in lectures and a bonus award for continuous writing and learning.
        🍅cards sees itself as a <b>learning platform that accompanies the lectures</b>, as a virtual
        place,
        where learning time with cognitive activities (co-writing, post-editing of transcriptions, learning
        cards
        repetitive answering of learning questions) is spent intensively.
        Unlike Moodle, which is mostly used as a distribution platform for scripts.
    </p>
    <p>
        The concept of 🍅cards allows the teacher to objectively assess the students' learning process.
        evaluate,
        so that <b>bonus points for regular notes and repeated learning</b> about
        this
        the course of the semester.
        Learning according to the repetition algorithms implemented in 🍅cards of
        <a href="https://de.wikipedia.org/wiki/Lernkartei" target="_blank">Sebastian Leitner</a> or
        <a href="https://en.wikipedia.org/wiki/Piotr_Wo%C5%BAniak_(researcher)" target="_blank">Piotr
            Woźniak</a> has been proven to be the most effective learning strategy for providing long-term
        learning content - via
        that
        Examinations and study beyond - to keep in mind,
        see our contribution to the <a href="http://site.aace.org/" target="_blank">SITE Conference
        2018</a>:
    </p>
    <hr>
    <p>
        <a href="https://git.thm.de/arsnova/flashcards/blob/staging/docs/ARSnova.pdf" target="_blank">Against
            Academic Procrastination: Pedagogical Apps to Implement Distributed Learning in Course
            Design</a>
    </p>
    <p>
        Abstract: Most of the facts and figures, terms and concepts taught in college are learned in the
        week
        before examination and forgotten a month after. Although we have known about the very low long-term
        knowledge retention of cramming since Ebbinghaus’ &raquo;forgetting curve&laquo; in 1885, this
        learning tactic
        prevails because it works—at least for passing exams. As university lecturers, we seldom received a
        training on effective teaching and learning strategies. However, we can follow the evidence-based
        recommendations from cognitive and educational psychology on how to structure a course to distribute
        learning. With new pedagogical apps at hand, we can implement <a
            href="https://en.wikipedia.org/wiki/Spaced_repetition" target="_blank">spaced repetition</a>
        against
        procrastination in our course design. This paper outlines a pedagogical project to be conducted
        across
        several consecutive semesters. The project follows the &raquo;What Works Clearinghouse&laquo;
        practice guide on
        spacing learning events over time. The recommendations are implemented by using <a
            href="https://arsnova.eu" target="_blank">ARSnova</a>, a set of innovative web-based
        question-and-answer apps for quizzing in class and self-quizzing at home.
    </p>
    <a href="https://www.gwern.net/images/spacedrepetition/forgetting-curve-wired-wozniak.jpg"
       data-lightbox="img-1" data-title="forgetting curve">
        <img src="https://www.gwern.net/images/spacedrepetition/forgetting-curve-wired-wozniak.jpg"
             alt="forgetting curve" class="img-responsive center-block"/>
    </a>

    <p class="text-center">
        Picture source: <a href="https://www.gwern.net/Spaced-repetition" target="_blank">Gwern Branwen:
        &raquo;Spaced
        Repetition"</a>
    </p>
    <hr>
    <p>
        Students of the THM have free access to all of the following information via their <b>CAS access</b>
        <b>Edu card sets</b> in the pool of 🍅cards.
        These are sets of maps created by THM teachers for their modules.
        Students from other universities who register via a network account (Facebook, Twitter or
        Google+), you can purchase Edu card sets individually or as a <b>pro subscription</b> (<b>up to WS
        18/19 in free trial operation</b>),
        see the <a href="{{pathFor route='agb'}}">general terms and conditions</a>.
        THM students can create private sets of cards and place them in a pool of cards for the general
        public.
        spare
        make available.
        Subscribers can change their card sets, their formal and content quality from
        another
        Instructor who has been tested THM, can also offer them for sale as pro card sets.
    </p>
</template>
