<template name="mainNavigationFooterItemAbout">
    <li class="{{#if isActiveRoute 'about'}}active{{/if}}">
        <b><a id="about" href="{{pathFor route='about'}}">
            {{{getNavigationName "about"}}}
        </a></b>
    </li>
</template>



