<template name="mainNavigationFooterItemAGB">
    <li class="{{#if isActiveRoute 'agb'}}active{{/if}}">
        <b><a id="datenschutz" href="{{pathFor route='agb'}}">
            {{{getNavigationName "agb"}}}
        </a></b>
    </li>
</template>
