<template name="mainNavigationFooterItemBackToHome">
    {{#unless canAccessFrontend}}
        <li class="{{#if isLandingPage}}active{{/if}}">
            <b><a id="backToStartButton" href="#">
                {{{getNavigationName "backToHome"}}}
            </a></b>
        </li>
    {{/unless}}
</template>
