<template name="mainNavigationFooterItemDatenschutz">
    <li class="{{#if isActiveRoute 'datenschutz'}}active{{/if}}">
        <b><a id="datenschutz" href="{{pathFor route='datenschutz'}}">
            {{{getNavigationName "datenschutz"}}}
        </a></b>
    </li>
</template>
