<template name="mainNavigationFooterItemDemo">
    {{#if gotFeatureSupport 3}}
        <li class="{{#if isActiveRoute 'demo'}}active{{/if}}">
            <b><a id="demo" href="{{pathFor route='demo'}}">
                {{{getNavigationName "demo"}}}
            </a></b>
        </li>
    {{/if}}
</template>
