<template name="mainNavigationFooterItemImpressum">
    <li class="{{#if isActiveRoute 'impressum'}}active{{/if}}">
        <b><a id="impressum" href="{{pathFor route='impressum'}}">
            {{{getNavigationName "impressum"}}}
        </a></b>
    </li>
</template>
