<template name="mainNavigationFooterItemStatistics">
    <li class="{{#if serverStatisticsModalActive}}active{{/if}} hidden-xs">
        <b><a id="serverStatistics" class="showStatistics">
            {{{getNavigationName "statistics"}}}
        </a></b>
    </li>
</template>

<template name="mainNavigationFooterItemStatisticsMobile">
    <li class="{{#if serverStatisticsModalActive}}active{{/if}} toggleServerStatistics showStatistics">
        <b><a class="showStatistics">
            {{{getNavigationName "statisticsMobile"}}}
        </a></b>
    </li>
</template>
